<div class="container-sm">
<h1>Lectures
  <a href="<%= new_lecture_path  %>" class = "btn btn-primary">
      <span>
        <strong>ADD Lecture</strong>
      </span>
  </a>
</h1>

<table class= "table  table-hover table-sm center">
  <thead>
    <tr>
      <th>ID</th>
      <th>User-ID</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <th scope="row"> <%= lecture.id %> </th>
        <th><%= lecture.super_admin_id %></th>
        <td><%= lecture.title   %></td>
        <td><%= lecture.subject %></td>
        <td><%= link_to 'Show', lecture %>
        <%= link_to 'Edit', edit_lecture_path(lecture) %>
        <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>