<h3>Title</h3>
    <%= @lecture.title%>
<h3>Subject</h3>
    <%= @lecture.subject%>
<br/>

<hr/>

<table class = 'table table-hover center table-sm'>
    <tr>
        <th> Resources </th>
        <th> Desciption </th>
        <th> content </th>
        <th> PDFS </th>
    </tr>
    <% @count = 1 %>
    
    <% @lecture.lecture_contents.each do |content|%>
    <tr>
        <td> <strong> Resources#<%= @count %> </strong> </td>
        <td>
            <% if content.pdfs.attached? %>
                <% (0...content.pdfs.count).each do |img| %>
                    <% if content.pdfs[img].filename.extension == 'pdf' %>
                        <% pdf = content.pdfs[img] %>
                        <%= link_to pdf.filename ,rails_blob_path(pdf , disposition: "preview") ,target: '_blank' %>
                        <%= link_to 'Download' ,rails_blob_path(pdf , disposition: "attachment") %>
                        <br/>
                    <%else%>
                        <%= image_tag(content.pdfs[img] , style: "width: 150px; height: auto;") %>
                        <%= link_to 'Download' ,rails_blob_path(content.pdfs[img] , disposition: "attachment") %>
                        <br/>
                    <% end %>
                <% end %>
            <% else %>
                <p> No Attachments </p>
            <% end %>
        </td>
        <td> <%= content.desciption %> </td>
        <td> <%= content.content %> </td>
    </tr>
    <% @count += 1%>
    <% end %>
</table>
<%= link_to 'Back', lectures_path %>