<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Musify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

    <% if current_super_admin %>
      <a class= "oof"> <%= current_super_admin.user_role.capitalize() %></p>
    <% end %>

      <ul class="navbar-nav ms-auto">
        <% if super_admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "Logout", destroy_super_admin_session_path, class: "nav-link", method: :delete %>
            </li>
            <form class="form-inline my-2 my-md-0"> </form>
        <% else %>
            <li class="nav-item">
                <%= link_to "Register", new_super_admin_registration_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item" >
                <%= link_to "Sign in", new_super_admin_session_path, class: "nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>



<% if current_super_admin %>
  <div class="sidebar">
    <% @id = School.find_by_id(current_super_admin.school_id) %>
    <a href="/">Dash Board</a>
    <a href="<%= edit_school_path(@id) %>">School Information</a>
    <a href="<%= users_path %>">Users</a>
    <a href="<%= new_super_admin_invitation_path %>">Invite</a>
    <a href="<%= lectures_path %>">Lectures</a>
<<<<<<< HEAD
=======

>>>>>>> 113b6c1926230cc4341dec8db20107381b6f7983
  </div>
<% end %>



<style>
.oof{
  text-align: center;
 margin-left: auto;
 margin-bottom: 0rem;
 color: white;
 font-weight: bold;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>