<%= stylesheet_link_tag "school_form" %>
<div class = "container-sm  bg-primary p-3 text-white  border">
<h1>School Information</h1>

<%= form_for(@school) do |f| %>
<div class = 'form'>
    <% if @school.avatar.present? %>
        <%= image_tag(@school.avatar , height: 100 , width: 100) %>
    <% end %>
    <div class = 'spl_row' >
        <div class = 'lable'>   
            <p>Name:</p>
        </div>
        
        <div class = 'spl_input'>
            <%= f.text_field(:name ,:autofocus => true) %>
        </div>
    </div>
    
    <div class = 'spl_row' >
        <div class = 'lable'>
            <p>logo :</p>
        </div>
        
        <div class = 'spl_input'>
            <%= f.file_field(:avatar) %>
        </div>
    </div>
    
    <div class = 'spl_row' >
        <div class = 'lable'>
            <p>Address:</p>
        </div>
        
        <div class = 'spl_input'>
            <%= f.text_field(:adress) %>
        </div>
    </div>
    
    <div class = 'spl_row' >
        <div class = 'lable'>
            <p>City:</p>
        </div>
        
        <div class = 'spl_input'>
            <%= f.text_field(:city) %>
        </div>
    </div>
    
    <div class = 'spl_row' >
        <div class = 'lable'>
            <p>Phone:</p>
        </div>
        
        <div class = 'spl_input'>
            <%= f.text_field(:phone , type: "tel") %>
        </div>
    </div>

    <div class = 'spl_row' >
        <div class = 'lable'>
            <p>Email:</p>
        </div>
        
        <div class = 'spl_input'>
            <%= f.email_field(:email) %>
        </div>
    </div>

    <div class = 'spl_row' >
        <div class = 'lable'>
            <p>Zip Code:</p>
        </div>
        
        <div class = 'spl_input'>
            <%= f.number_field(:zip_code ,min: "1000" ,max: "9999") %>
        </div>
    </div>
</div>

<div class = 'submit_button'>
    <%= f.submit("Update")%>
</div>

<%end%>
</div>
